# ci.yml, adopted from pydantic Makefile (https://github.com/pydantic/pydantic/blob/main/.github/workflows/ci.yml).
name: CI
on:
  push:
    branches:
      - master
    tags:
      - '**'
  pull_request: { }
env:
  COLUMNS: 150
  UV_FROZEN: true
  FORCE_COLOR: 1
jobs:
  lint:
    runs-on: ubuntu-latest
    name: Lint ${{ matrix.python-version }}
    strategy:
      fail-fast: false
      matrix:
        python-version: [ '3.10', '3.11', '3.12', '3.13', '3.14' ]
    steps:
      - uses: actions/checkout@v6
      - uses: astral-sh/setup-uv@v7
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install dependencies
        # Installing pip is required for the pre-commit action:
        run: |
          uv sync --all-packages --group linting --all-extras
          uv pip install pip
      - uses: pre-commit/action@v3.0.1
        with:
          extra_args: --all-files --verbose
        env:
          SKIP: no-commit-to-branch
          UV_NO_PROGRESS: '1'
  test:
    name: Test ${{ matrix.os }} / ${{ matrix.python-version }}
    strategy:
      fail-fast: false
      matrix:
        os: [ ubuntu-latest, macos-latest, windows-latest ]
        python-version: [ '3.10', '3.11', '3.12', '3.13', '3.14', '3.14t', 'pypy3.11' ]
        include:
          # test macos intel just with latest python version
          - os: macos-15-intel
            python-version: '3.14'
          - os: macos-15-intel
            python-version: '3.14t'
    env:
      OS: ${{ matrix.os }}
      DEPS: yes
      UV_PYTHON_PREFERENCE: only-managed
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v6
      - uses: astral-sh/setup-uv@v7
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install dependencies
        run: uv sync --all-packages --all-extras
      - run: 'uv run python -c "import dep_man.version; print(dep_man.version.version_info())"'
      - run: mkdir coverage
      - name: Run pytest
        run: make test NUM_THREADS=${{ endsWith(matrix.python-version, 't') && '4' || '1' }}
        env:
          COVERAGE_FILE: coverage/.coverage.${{ runner.os }}-py${{ matrix.python-version }}
          CONTEXT: ${{ runner.os }}-py${{ matrix.python-version }}-without-deps
      - name: Store coverage files
        uses: actions/upload-artifact@v6
        with:
          name: coverage-${{ matrix.os }}-${{ matrix.python-version }}
          path: coverage
          include-hidden-files: true
  coverage-combine:
    needs: [ test ]
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-python@v6
        with:
          python-version: '3.12'
      - name: Get coverage files
        uses: actions/download-artifact@v7
        with:
          merge-multiple: true
          pattern: coverage-*
          path: coverage
      - run: pip install coverage[toml]
      - run: ls -la coverage
      - run: coverage combine coverage
      - run: coverage report
      - run: coverage html --show-contexts --title "dep man coverage for ${{ github.sha }}"
      - name: Store coverage data
        uses: actions/upload-artifact@v6
        with:
          name: coverage-data
          path: .coverage
          include-hidden-files: true
      - name: Store coverage HTML
        uses: actions/upload-artifact@v6
        with:
          name: coverage-html
          path: htmlcov
  coverage-pr-comment:
    needs: coverage-combine
    runs-on: ubuntu-latest
    if: github.event_name == 'pull_request'
    permissions:
      pull-requests: write
      contents: write
    steps:
      - uses: actions/checkout@v6
      - name: Download coverage data
        uses: actions/download-artifact@v7
        with:
          name: coverage-data
      - name: Generate coverage comment
        id: coverage-comment
        uses: py-cov-action/python-coverage-comment-action@v3
        with:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      - name: Store coverage comment
        uses: actions/upload-artifact@v6
        if: steps.coverage-comment.outputs.COMMENT_FILE_WRITTEN == 'true'
        with:
          name: python-coverage-comment-action
          path: python-coverage-comment-action.txt
  # https://github.com/marketplace/actions/alls-green
  check: # This job does nothing and is only used for the branch protection
    if: always()
    outputs:
      result: ${{ steps.all-green.outputs.result }}
    needs:
      - lint
      - test
    runs-on: ubuntu-latest
    steps:
      - name: Decide whether the needed jobs succeeded or failed
        uses: re-actors/alls-green@release/v1
        id: all-green
        with:
          jobs: ${{ toJSON(needs) }}
  release:
    needs: [ check ]
    if: needs.check.outputs.result == 'success' && startsWith(github.ref, 'refs/tags/')
    runs-on: ubuntu-latest
    environment: release
    permissions:
      id-token: write
    outputs:
      dep-man-version: ${{ steps.check-tag.outputs.VERSION }}
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-python@v6
        with:
          python-version: '3.12'
      - name: Install 'build' library
        run: pip install -U build
      - name: Check version
        id: check-tag
        uses: samuelcolvin/check-python-version@v5
        with:
          version_file_path: dep_man/version.py
      - name: Build library
        run: python -m build
      - name: Upload package to PyPI
        uses: pypa/gh-action-pypi-publish@release/v1
